
.table-view {
    /*-fx-background-color: red;*/
}

.table-view:focused {
    /*-fx-background-color: blue;*/
}

.table-view .column-header-background {

}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    /*-fx-text-fill: #000;*/
    -fx-font-size: 18px;
    /*-fx-font-weight: regular;*/
}

.table-view .table-cell {
    /*-fx-text-fill: yellow;*/
    -fx-font-size: 19px;
}

.center {
    -fx-alignment: center;
}

.table-row-cell:selected :focused {
    -fx-background-color: #68FEB7;
    /*-fx-background-insets: 0;*/
    /*-fx-background-radius: 1;*/
}

.table-row-cell .table-cel:pressed {
    /*-fx-text-fill: black;*/
    /*-fx-background-color: red;*/
}

/*---------------------------------------------------------------------------------------------------------------------*/

.combo-box {
}

.combo-box .list-cell {
    -fx-font-size: 20px;
    /*-fx-font-weight: bold;*/
}

.combo-box-popup .list-view {

}


/*---------------------------------------------------------------------------------------------------------------------*/

.text-field {
    /*-fx-border-color: red;*/
    /*-fx-border-width: 1px;*/
}


.mytext-field:focused {
    -fx-background-color: rgba(0, 255, 187, 0.21);
}

.tab-pane *.tab-header-background {
    -fx-background-color: #49DCB1;
}

.tab-pane .tab:selected {
    -fx-border-color: #000;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    /*-fx-background-color:  #1FFFB9!important;*/
    -fx-background-radius: 20px;

}

.tab {
    -fx-focus-color: transparent;
    -fx-pref-width: 100px;
    -fx-alignment: CENTER;
    -fx-font-weight: 400px;
}

.tab:selected .tab-label {
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}